@model WebAppVeterinaria.Entity.Consulta

@{
    ViewData["Title"] = "Detalhes da Consulta";
}

<section class="mt-5">
    <div class="container">
        <div style="background-color:white; width:100%; display:flex; padding:40px; flex-wrap:wrap;" class="shadow-sm">
            <h1>@ViewData["Title"]</h1>
            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayName("Data do Cadastro")
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataCadastro)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayName("Data da Consulta")
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataConsulta)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayName("Data do Retorno")
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataRetorno)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayName("Descrição")
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Retorno)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Retorno)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayName("Observação")
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Observacao)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayName("Nome do pet")
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NomeAnimal)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayName("Raça")
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RacaAnimal)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayName("Sexo")
                    </dt>
                    <dd class="col-sm-10">
                        @if (Model.TipoSexo.ToString() == "1")
                        {
                            <div>
                                <h6>Macho</h6>
                            </div>
                        }
                        else
                        {
                            <div>
                                <h6>Fêmea</h6>
                            </div>
                        }
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayName("Espécie")
                    </dt>
                    <dd class="col-sm-10">
                        @if (Model.TipoEspecie.ToString() == "1")
                        {
                            <div>
                                <h6>Canina</h6>
                            </div>
                        }
                        else
                        {
                            <div>
                                <h6>Felino</h6>
                            </div>
                        }
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Idade)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Idade)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Peso)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Peso)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayName("Historico Clínico do Animal")
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.HistoricoClinicoAnimal)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Cliente)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Cliente.NomeCompleto)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayName("Veterinário")
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Veterinario.NomeCompleto)
                    </dd>
                </dl>
            </div>
            <div>
                @Html.ActionLink("", "Edit", new { Model.Id }, new { @class = "btn btn-light bg-white fas fa-pen p-2 shadow-sm text-warning" })
                <a class="btn btn-light" asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</section>