@model WebAppVeterinaria.Entity.Servico

@{
    ViewData["Title"] = "Excluir Serviço";
}

<section class="mt-5">
    <div class="container">

        <div style="background-color:white; width:100%; display:flex; padding:40px; flex-wrap:wrap;" class="shadow-sm">
            <h1>@ViewData["Title"]</h1>

            <div class="col-md-12">
                <h3 class="alert-danger">Você tem certeza que deseja excluir este serviço?</h3>
            </div>

            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayName("Descrição")
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayName("Preço")
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Preco)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="submit" value="Excluir" class="btn btn-danger" />
                    <a class="btn btn-light" asp-action="Index">Voltar</a>
                </form>
            </div>
        </div>
    </div>
</section>
