@model IEnumerable<WebAppVeterinaria.Entity.Servico>

@{
    ViewData["Title"] = "Lista de Serviços";
}

<section class="">
    <div class="container">

        <h3 class="text-color-primary mt-5">@ViewData["Title"]</h3>

        <div class="col-md-4 p-0">
            <div class="mb-2">
                <a class="btn btn-primary" asp-action="Create"><i class="fas fa-hand-holding-medical"></i> Novo Serviço</a>
            </div>
        </div>
        @if (TempData["createSuccess"] != null)
        {
            <div id="msg_box" class="alert alert-success">@TempData["createSuccess"]</div>
        }

        @if (TempData["error"] != null)
        {
            <div class="alert alert-error">@TempData["error"]</div>
        }
        @if (TempData["updateSuccess"] != null)
        {
            <div id="msg_box" class="alert alert-success">@TempData["updateSuccess"]</div>
        }
        @if (TempData["deleteSuccess"] != null)
        {
            <div id="msg_box" class="alert alert-success">@TempData["deleteSuccess"]</div>
        }

        <table class="table shadow p-3 rounded">
            <thead class="table-light bg-light rounded text-color-secondary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayName("Descição")
                    </th>
                    <th>
                        @Html.DisplayName("Preço")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="bg-light text-color-primary">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preco)
                        </td>
                        <td>
                            @Html.ActionLink("", "Edit", new { item.Id }, new { @class = "btn btn-light bg-white fas fa-pen p-2 shadow-sm text-warning" })
                            @Html.ActionLink("", "Details", new { item.Id }, new { @class = "btn btn-light bg-white fas fa-search p-2 shadow-sm text-info" })
                            @Html.ActionLink("", "Delete", new { item.Id }, new { @class = "btn btn-light bg-white fas fa-trash-alt p-2 shadow-sm text-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>