@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<WebAppVeterinaria.Entity.Veterinario>

@{
    ViewData["Title"] = "Index";
}

<section class="top-padding background-content vh-100">
    <div class="container">
        <h3 class="text-color-primary mt-1">Lista de Veterinários</h3>

        <form class="mt-1" asp-action="index" asp-controller="veterinarios" method="get">
            <div class="row">
                <div class="col-md-8">
                    <p class="form-inline">
                        <input type="search" name="search" value="@ViewBag.Search" placeholder="Pesquise por Nome..." style="width:80%" class="form-control" />
                        <button type="submit" name="name" value="" class="btn btn-success"><i class="fas fa-search"></i></button>
                        <a class="align-self-center mt-1" asp-action="Index">Limpar pesquisa</a>
                    </p>

                </div>
                <div class="col-md-4">
                    <div class="text-right">
                        <a class="btn btn-primary text-right" asp-action="Create"><i class="fas fa-user-md"></i> Novo Veterinário</a>
                    </div>
                </div>
            </div>
        </form>

        @if (TempData["createSuccess"] != null)
        {
            <div id="msg_box" class="alert alert-success">@TempData["createSuccess"]</div>
        }

        @if (TempData["error"] != null)
        {
            <div class="alert alert-error">@TempData["error"]</div>
        }
        @if (TempData["updateSuccess"] != null)
        {
            <div id="msg_box" class="alert alert-success">@TempData["updateSuccess"]</div>
        }
        @if (TempData["deleteSuccess"] != null)
        {
            <div id="msg_box" class="alert alert-success">@TempData["deleteSuccess"]</div>
        }


        <table class="table shadow p-3 rounded">
            <thead class="table-light bg-light rounded text-color-secondary">
                <tr>
                    <th>
                        @Html.DisplayName("Nome")
                    </th>
                    <th>
                        @Html.DisplayName("CPF")
                    </th>
                    <th>
                        @Html.DisplayName("CRMV")
                    </th>
                    <th>
                        @Html.DisplayName("Status")
                    </th>
                    <th>
                        @Html.DisplayName("Cidade")
                    </th>
                    <th>
                        @Html.DisplayName("Estado")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="bg-light text-color-primary">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodigoCRMV)
                        </td>
                        <td>
                            @if (item.Ativo == true)
                            {
                                <div class="shadow-sm" style="background-color:#4f794e; text-align:center; border-radius:25px; color:aliceblue">
                                    <small>ATIVO</small>
                                </div>
                            }
                            else
                            {
                                <div class="shadow-sm" style="background-color:#b25454; text-align:center; border-radius:25px; color:aliceblue">
                                    <small>INATIVO</small>
                                </div>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.ActionLink("", "Edit", new { item.Id }, new { @class = "btn btn-light bg-white fas fa-pen p-2 shadow-sm text-warning" })
                            @Html.ActionLink("", "Details", new { item.Id }, new { @class = "btn btn-light bg-white fas fa-search p-2 shadow-sm text-info" })
                            @Html.ActionLink("", "Delete", new { item.Id }, new { @class = "btn btn-light bg-white fas fa-trash-alt p-2 shadow-sm text-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="col-md-6">
            Listando registros de @Model.FirstItemOnPage
            a @Model.LastItemOnPage de um total de @Model.TotalItemCount
        </div>
        <div class="col-md-6">
            @Html.PagedListPager(Model,
                             page => Url.Action("Index", new { page }))
        </div>
    </div>
</section>
